.userbodypart
{
  text-align:left;
  font-size:25px;
  font-weight:bold;
  padding-left:8px;

}
table
{

  width:98%;
  margin:0 auto auto;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}



